body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/* ----------------CONTAINER GENERAL - BODY------------------ */
.container {
    display: grid;
    grid-template: 400px auto / 350px auto;
    /* grid-gap: 5px; */
    height: 100vh;
    grid-template-areas:    'left-container video-container'
                            'left-container comments-container';
}


/* --------------------CONTAINER LEFT ----------------------- */
.left-container {
    grid-area: left-container;
    background: #151b31;
    display: grid;
    grid-template: 100px 360px auto / auto;
    grid-template-areas:    'logo'
                            'list'
                            'friends';
}
.logo {
    grid-area: logo;
    margin: 0;
}
.logo img {
    width: 200px;
    padding: 20px 0 0 20px;
}


.left-list {
    grid-area: list;
}
.left-list p {
    font-size: 1em;
    padding-left: 20px;
}
.left-list ol {
    font-size: .8em;
    margin: 0 40px 0 20px;
}
.left-list ol li {
    padding-bottom: 8px;
}
.left-list ol li a {
    text-decoration: none;
    color: white;
}
.left-list ol li a:hover {
    text-decoration: underline;
}

.left-friends {
    grid-area: friends;
}
.left-friends p {
    font-size: 1em;
    padding-left: 20px;
    display: block;
}
.friend {
    display: flex;
    padding: 0 0 10px 35px;
    text-decoration: none;
    color: white;
}
.friend p:hover {
    text-decoration: underline;
}
.friend img {
    width: 50px;
}







/* -------------------CONTAINER DE VIDEO ---------------------- */
.video-container {
    grid-area: video-container;
    /* background: lightblue; */
    display: grid;
    grid-template: 100px auto / 710px auto;
    grid-template-areas:    'video-box title-box'
                            'video-box options-box';
}
.video-box {
    grid-area: video-box;
    position: relative;
}
.video-box a {
    position: absolute;
    z-index: 2;
    left: 15px;
    top: 10px;
}
.video-box img {
    width: 50px;
}
.video-box video {
    position: absolute;
    z-index: 1;
    height: 400px;
    outline: none;
}


.title-box {
    grid-area: title-box;
    margin-left: 5px;
}
.title {
    font-size: 1.1em;
    color: #081c63;
}
.views {
    font-size: 1em;
    color: rgba(117, 110, 110, 0.507);
}


.options-box {
    grid-area: options-box;
    display: grid;
    margin-left: 5px;
    text-align: center;
}


.options1 {
    display: grid;
    justify-items: center;
    align-items: center;
}
.options1 button {
    background: #fb3242;
    width: 150px;
    padding: 10px 15px;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-bottom: 15px;
    outline: none;
}
.options1 button:hover {
    color: black;
}
.options1 a {
    text-decoration: none;
}
.options1 a:hover {
    text-decoration: underline;
    color: black;
}

.share p,
.save p {
    color: black;
    font-size: .8em;
    padding: 0;
    margin: 0;
}


.options2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.options2 a {
    text-decoration: none;
    color: white;
    font-size: .7em;
    padding: 2px 14px;
    margin-right: 5px;
}
.options2 a:hover {
    color: black;
}

.electronic {
    border-radius: 8px;
    background: #9e51ff;
}
.rock {
    border-radius: 8px;
    background: #1ee5c4;
}
.ochentas {
    border-radius: 8px;
    background: #e01622;
}
.relax {
    border-radius: 8px;
    background: #ed3084;
}













/* ----------------CONTAINER DE COMENTARIOS ------------------- */
.comments-container img {
    width: 40px;
}
.comments-container p {
    color: #151b31;
}
.comments-container {
    grid-area: comments-container;
    display: grid;
    grid-template: auto / 1fr 1fr;
    grid-template-areas:    'comments-box suggestions-box';
}

.comments-box{
    grid-area: comments-box;
    /* background: rgba(201, 121, 121, 0.651); */
    padding-left: 2em;
    padding-top: 1.2em;
    padding-right: 2em;
    /* display: grid;
    align-content: space-evenly; */
}
#comments {
    font-size: .85em;
}
.add-comment {
    background: #f2f2f2;
    width: 100%;
    display: flex;
    border-radius: 4px;
}
.add-comment img {
    width: 35px;
    margin-right: .6em;
    margin-left: .5em;
}
.add-comment input {
    width: 100%;
    outline: none;
    background: none;
    border: none;
    font-size: 1.2em;
}

.add-comment input::placeholder {
    color: #aaa8a867;
}
.user-song {
    display: flex;
    align-items: center;
    margin-top: 1em;
}
.image-box {
    margin: 0 10px;
}
.user p {
    margin: 0;
    font-size: .9em;
}


.suggestions-box {
    grid-area: suggestions-box;
    padding-left: 4em;
    padding-top: 1.2em;
    padding-right: 2em;
}
#suggestions-text {
    margin-left: 15px;
}
.suggestions-box p {
    font-size: .85em;
}
.suggestions-item {
    margin-bottom: 2em;
    padding-right: 10em;
}
.suggestions-item img {
    width: 210px;
}

